nav {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 16px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.nav-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.active {
    text-underline-offset: 6px;
    text-decoration: underline #9AD239;
}

.navbar-brand {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
}

.menu-responsive {
    display: none;
}

@media (max-width: 992px) {
    nav {
        .container-fluid {
            display: flex;
            justify-content: space-around;
            flex-wrap: nowrap;
            align-items: flex-start;
            a {
                width: 50%;
            }
            ul {
                align-items: flex-end;
            }
        }
    }

    $transition-collapse: height .35s ease;
    $transition-collapse-width: width .35s ease;

    .collapse {
        &:not(.show) {
            display: none;
        }
    }

    .collapsing {
        height: 0;
        overflow: hidden;

        &.collapse-horizontal {
            width: 0;
            height: auto;
        }
    }

    .menu-responsive {
        display: flex;
        flex-direction: column;
        width: 50%;

        button {
            border: none;
            background-color: #f8f9fa;;
            width: 45px;
            align-self: self-end;
        }
    }

    .align{text-align: -webkit-right;}

    .menu-desk {
        display: none;
    }
}