<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" #carousel>
    <ul class="carousel-indicators">
        <li [class.active]="i === activeSlideIndex" *ngFor="let card of detail?.images; let i = index" (click)="activeSlideIndex = i"></li>
    </ul>
    <div class="carousel-inner" (swipeleft)="swipeleftActive($event)" (swipeRight)="swipeRightActive($event)">
        <div class="carousel-item" [class.active]="i === activeSlideIndex" *ngFor="let card of detail?.images; let i = index">
            <img (load)="loadImage(1)" #carouselImages class="d-block w-100" alt="Slide {{i}}">
        </div>
    </div>
</div>
