.container-personalize {
    background-image: url('/assets/imgs/banner_green.svg');
    background-size: cover;
    margin-top: -2rem;
}

.base-text {
    font-family: 'Roboto';
    font-style: normal;
    color: #FFFFFF;
    margin-left: 3rem;
    margin-right: 3rem;
}

.title {
    @extend .base-text;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin-top: 5rem;
    margin-bottom: 1.25rem;
}

.content {
    @extend .base-text;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: justify;
    margin-bottom: 3rem;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.ver-mas {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.expandable-text p {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }