<section class="footer-personalize">
    <div class="row p-4 px-5">
        <div class="col align-middle">
            <img
            [src]="'/assets/imgs/icon.svg'"
            alt="Logo"
            width="40"
            height="40"
            class="d-inline-block align-text-top mx-2"/>
            <span class="align-middle">Tolima paraiso natural</span>
        </div>
        <div class="col-2 align-middle">
            <img
            [src]="'/assets/imgs/facebook.svg'"
            alt="Logo"
            width="30"
            height="30"
            class="d-inline-block align-text-top mx-2"/>
            <span class="align-middle">Facebook</span>
        </div>
        <div class="col-2 align-middle">
            <img
            [src]="'/assets/imgs/instagram.svg'"
            alt="Logo"
            width="30"
            height="30"
            class="d-inline-block align-text-top mx-2"/>
            <span class="align-middle">Instagram</span>
        </div>
    </div>
</section>